.container{
  min-width: 55vh;
  background-color: darkblue;
  padding: 1rem;
}
.display{
  text-align: end;
  background-color: black;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  font-size: large;
  padding-right: 0.5rem;
  border-radius: 10px;
}

.keyboard{
  margin: auto auto auto auto;
}
.row{
  display: flex;
  justify-content: center;
}

#first-row{
  justify-content: flex-start;
  padding-left: 1.3rem;
}

.btn{
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  width: 5.2rem;
}

#prefix{
  margin-left: 5.7rem;
}