.container{
  width: 50vh;
  background-color: darkblue;
  padding: 1rem;
}
.display{
  text-align: end;
  background-color: black;
  color: white;
}

.btn{
  height: auto;
  width: auto;
  margin: 0.5rem;
}